In [2]:
num = np.array([67,44,32,16,58,44,27])

### Mean

In [3]:
num.mean()

41.142857142857146

In [4]:
np.mean(num)

41.142857142857146

In [5]:
sum(num)/len(num)

41.142857142857146

### Meadian

In [7]:
np.sort(num)

array([16, 27, 32, 44, 44, 58, 67])

In [8]:
np.median(num)

44.0

### Mode

In [9]:
import pandas as pd

In [11]:
gender = pd.Series(['M','M','F','M','F','M','M','F'])

In [12]:
gender.value_counts()

M    5
F    3
dtype: int64

In [13]:
gender.mode()

0    M
dtype: object

In [14]:
ages = pd.Series([22,21,23,22,22,20,21,22,21,22,21,21])

In [15]:
ages.value_counts()

22    5
21    5
23    1
20    1
dtype: int64

In [16]:
ages.mode()

0    21
1    22
dtype: int64

In [19]:
x = np.arange(1,91)

In [20]:
x.mean()

45.5

In [21]:
np.median(x)

45.5

### mid-range

In [22]:
(max(num) + min(num)) / 2

41.5

### dispersion

### mean absolute deviation

In [25]:
np.mean(abs(num - num.mean()))

13.83673469387755

In [26]:
x = np.ones(10) + 20

In [27]:
x

array([21., 21., 21., 21., 21., 21., 21., 21., 21., 21.])

In [29]:
np.mean(abs(x - x.mean()))

0.0

### Variance

In [30]:
np.mean((num - num.mean()) ** 2)

269.265306122449

### Standard Deviation

In [31]:
np.sqrt(np.mean((num - num.mean()) ** 2))

16.409305473494268

In [32]:
num.std()

16.409305473494268

In [33]:
np.std(num)

16.409305473494268


# Structured Data Analysis

In [34]:
import os
os.getcwd()

'/drive'

### import the dataset

In [36]:
df = pd.read_csv('imcc.csv')

In [37]:
df

,टाइमस्टँप,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
0,30/05/2023 14:26:35,2201184,Shubham,Kumar,Sinha,23.0,8.29,Male,"Cricket , Football",Patna,2014
1,30/05/2023 14:26:56,2201129,Pranav,Prashant,Modale,25.0,7.80,Male,Cricket,Pune,2014
2,30/05/2023 14:27:27,2201125,Pratik,Sharad,Masalkar,NaN,8.31,Male,Badminton,Pune,2017
3,30/05/2023 14:27:43,2201154,Ranvir,Gajanan,Pawar,NaN,8.00,Male,chess,buldana,2014
4,30/05/2023 14:27:48,2201193,Siddhesh,Suresh,Uttekar,21.0,8.40,Male,cricket,Pune,2016
5,30/05/2023 14:28:03,2201115,Sairaj,Shirish,Lumpatki,20.0,8.71,Male,volleyball,Ahmednagar,2017
6,30/05/2023 14:28:03,2201110,Rahul,Kumar,Kumar,23.0,7.50,Male,Badminton,Ranchi,2015
7,30/05/2023 14:28:06,2201124,Akash,Sambhaji,Markile,NaN,7.79,Male,Cricket,Latur,2016
8,30/05/2023 14:28:07,2201145,harsh,subhash,patidar,22.0,8.00,Male,volleyball,indore,2016
9,30/05/2023 14:28:08,2201105,Omkar,Milind,Kulkarni,22.0,9.81,Male,Sachin Tendulkar,Pune,2018
10,30/05/2023 14:28:10,2201171,Prajwal,Pramod,Shendge,21.0,7.90,Male,Cricket,Miraj,2018
11,30/05/2023 14:28:10,2201121,tejas,Uttareshwar,mane,NaN,7.85,Male,Cricket,Baramati,2016
12,30/05/2023 14:28:11,2201159,Vaibhav,Kailas,Raut,NaN,7.00,Male,Table tennis,Beed,2016
13,30/05/2023 14:28:13,2201173,Gaurav,Mohan,Shimpi,22.0,8.90,Male,cricket,Shahada,2017
14,30/05/2023 14:28:15,2201182,sindura,singh,rathore,23.0,8.10,Female,cricket,muzzafarpur,2017
15,30/05/2023 14:28:15,2201130,Hitesh,Dnyaneshwar,Mohadikar,22.0,8.25,Male,Cricket,Nagpur,2017
16,30/05/2023 14:28:16,2201163,Janhavi,Ajit,Sangaonkar,NaN,8.75,Female,Badminton,Kolhapur,2017
17,30/05/2023 14:28:20,2201195,Raj,,Verma,23.0,7.71,Male,Cricket,Jamshedpur,2017
18,30/05/2023 14:28:25,2201187,Manish,Maruti,Teke,22.0,8.46,Male,Cricket,Pune,2016
19,30/05/2023 14:28:26,1951022,muskan,shabbir,shipai,21.0,8.05,Female,cricket,pune,2017
20,30/05/2023 14:28:28,2201164,Ashutosh,Ghansham,Saoji,23.0,7.54,Male,Cricket,Akola,2017
21,30/05/2023 14:28:29,2201133,VIVEK,YESHAVNT,MORE,21.0,7.60,Male,Table Tennis,Kolhapur,2017
22,30/05/2023 14:28:32,2201175,Sharvari,Sunil,Shinde,22.0,7.82,Female,cricket,karad,2016
23,30/05/2023 14:28:38,2201190,Leena,Sanjay,Thorat,22.0,7.89,Female,Badminton,Shirdi,2017
24,30/05/2023 14:28:41,2201085,vedika,Gorakshanth,kandekar,22.0,8.89,Female,-,Ahmednagar,2017
25,30/05/2023 14:28:47,2201144,Atharva,Jayant,Paradkar,23.0,7.64,Male,Football,Pune,2016
26,30/05/2023 14:28:48,2201196,himanshi,,vyas,22.0,8.80,Female,cricket,indore,2017
27,30/05/2023 14:28:58,220126,Harshita,,Maurya,21.0,8.61,Female,Vollyball,Pune,2017
28,30/05/2023 14:28:59,2201146,Aditi,Pandurang,Patil,21.0,8.00,Female,Football,Ahmednagar,2017
29,30/05/2023 14:29:04,2201188,Akshata,vijay,thakre,NaN,75.00,Female,cricket,pune,2017
30,30/05/2023 14:29:03,2201141,Mahima,Lallan,Pal,22.0,7.68,Female,badminton,patna,2015
31,30/05/2023 14:29:06,2201113,Aishwarya,Prasad,Lokhande,22.0,9.10,Female,badminton,pune,2017
32,30/05/2023 14:29:12,2201155,Manali,Prayag,Petare,21.0,7.90,Female,Football,Sangli,2017
33,30/05/2023 14:29:16,2201116,Ankita,Tanaji,Madane,NaN,7.00,Female,Cricket,karad,2017
34,30/05/2023 14:29:17,2201152,Yash,Rajgonda,Patil,21.0,7.21,Male,Cricket,Kolhapur,2017
35,30/05/2023 14:29:26,2201139,Apeksha,D,Nimje,21.0,8.00,Female,Basketball,Nagpur,2017
36,30/05/2023 14:29:34,2201206,Saurabh,Sanjay,Zute,NaN,7.50,Male,Cricket,Parbhani,2016
37,30/05/2023 14:29:43,2201200,Kshitij,Kishor,Wani,NaN,7.60,Male,Cricket,Nagpur,2015
38,30/05/2023 14:29:46,2201123,Sandesh,Sudhir,Manohar,22.0,7.54,Male,Football,Mumbai,2016
39,30/05/2023 14:29:59,2201158,Suyog,Bapurao,Raut,22.0,7.67,Male,cricket,pune,2017
40,30/05/2023 14:30:07,2201104,Prerna,Nitin,Kukade,21.0,7.40,Female,Badminton,Pune,2017
41,30/05/2023 14:30:15,220143,sakshi,santosh,patidar,22.0,10.00,Female,cricket,durg,2015
42,30/05/2023 14:30:17,2201205,Jyoti,.,Yadav,NaN,8.14,Female,Cricket,Alwar,2012
43,30/05/2023 14:30:20,2201117,NILESH,PRAKASH,MAHAJAN,22.0,7.56,Male,BADMINTON,WADGAON,2017
44,30/05/2023 14:30:26,2201166,Pranav,Pravin,Sarkale,21.0,7.96,Male,Carrom,Pune,2017
45,30/05/2023 14:30:32,2201167,Raj,Rajendra,kumar,22.0,9.60,Male,cricket,pune,2016
46,30/05/2023 14:30:39,2201157,Nikhil,Ashok,Rande,NaN,7.00,Male,Kabaddi,Akot,2016
47,30/05/2023 14:31:04,2201118,‎ Shubham,‎ Sanjay,‎ Mali,21.0,9.15,Male,‎ Cricket,‎ Pune,2017
48,30/05/2023 14:31:14,2201194,shraddha,jaiprakash,varma,22.0,7.89,Female,badminton,wani,2017
49,30/05/2023 14:31:18,2201106,Priya,Pradip,Kulkarni,22.0,8.00,Female,Badminton,Pune,2017
50,30/05/2023 14:31:47,2201107,Swapnil,Suhas,Kulkarni,22.0,7.28,Male,Cricket,Pune,2016

In [38]:
df.shape

(51, 11)

In [40]:
list(df.columns)

['टाइमस्टँप',
 'roll_num',
 'name',
 'middlename',
 'surname',
 'age',
 'sgpa',
 'gender',
 'favorite_sport',
 'native_city',
 'year_of_passing_10th']

In [41]:
df.dtypes

टाइमस्टँप                object
roll_num                  int64
name                     object
middlename               object
surname                  object
age                     float64
sgpa                    float64
gender                   object
favorite_sport           object
native_city              object
year_of_passing_10th      int64
dtype: object

In [42]:
df.head()

,टाइमस्टँप,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
0,30/05/2023 14:26:35,2201184,Shubham,Kumar,Sinha,23.0,8.29,Male,"Cricket , Football",Patna,2014
1,30/05/2023 14:26:56,2201129,Pranav,Prashant,Modale,25.0,7.80,Male,Cricket,Pune,2014
2,30/05/2023 14:27:27,2201125,Pratik,Sharad,Masalkar,NaN,8.31,Male,Badminton,Pune,2017
3,30/05/2023 14:27:43,2201154,Ranvir,Gajanan,Pawar,NaN,8.00,Male,chess,buldana,2014
4,30/05/2023 14:27:48,2201193,Siddhesh,Suresh,Uttekar,21.0,8.40,Male,cricket,Pune,2016

In [43]:
df.head(3)

,टाइमस्टँप,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
0,30/05/2023 14:26:35,2201184,Shubham,Kumar,Sinha,23.0,8.29,Male,"Cricket , Football",Patna,2014
1,30/05/2023 14:26:56,2201129,Pranav,Prashant,Modale,25.0,7.80,Male,Cricket,Pune,2014
2,30/05/2023 14:27:27,2201125,Pratik,Sharad,Masalkar,NaN,8.31,Male,Badminton,Pune,2017

In [44]:
df.tail()

,टाइमस्टँप,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
46,30/05/2023 14:30:39,2201157,Nikhil,Ashok,Rande,NaN,7.00,Male,Kabaddi,Akot,2016
47,30/05/2023 14:31:04,2201118,‎ Shubham,‎ Sanjay,‎ Mali,21.0,9.15,Male,‎ Cricket,‎ Pune,2017
48,30/05/2023 14:31:14,2201194,shraddha,jaiprakash,varma,22.0,7.89,Female,badminton,wani,2017
49,30/05/2023 14:31:18,2201106,Priya,Pradip,Kulkarni,22.0,8.00,Female,Badminton,Pune,2017
50,30/05/2023 14:31:47,2201107,Swapnil,Suhas,Kulkarni,22.0,7.28,Male,Cricket,Pune,2016

In [45]:
df.iloc[2:9:,3:8]

  middlename   surname   age  sgpa gender
2    Sharad   Masalkar   NaN  8.31   Male
3    Gajanan     Pawar   NaN  8.00   Male
4     Suresh   Uttekar  21.0  8.40   Male
5    Shirish  Lumpatki  20.0  8.71   Male
6      Kumar     Kumar  23.0  7.50   Male
7  Sambhaji    Markile   NaN  7.79   Male
8    subhash   patidar  22.0  8.00   Male

In [46]:
df.iloc[:9,3:8]

  middlename   surname   age  sgpa gender
0     Kumar      Sinha  23.0  8.29   Male
1   Prashant    Modale  25.0  7.80   Male
2    Sharad   Masalkar   NaN  8.31   Male
3    Gajanan     Pawar   NaN  8.00   Male
4     Suresh   Uttekar  21.0  8.40   Male
5    Shirish  Lumpatki  20.0  8.71   Male
6      Kumar     Kumar  23.0  7.50   Male
7  Sambhaji    Markile   NaN  7.79   Male
8    subhash   patidar  22.0  8.00   Male

In [47]:
df.iloc[:9,3:]

,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
0,Kumar,Sinha,23.0,8.29,Male,"Cricket , Football",Patna,2014
1,Prashant,Modale,25.0,7.80,Male,Cricket,Pune,2014
2,Sharad,Masalkar,NaN,8.31,Male,Badminton,Pune,2017
3,Gajanan,Pawar,NaN,8.00,Male,chess,buldana,2014
4,Suresh,Uttekar,21.0,8.40,Male,cricket,Pune,2016
5,Shirish,Lumpatki,20.0,8.71,Male,volleyball,Ahmednagar,2017
6,Kumar,Kumar,23.0,7.50,Male,Badminton,Ranchi,2015
7,Sambhaji,Markile,NaN,7.79,Male,Cricket,Latur,2016
8,subhash,patidar,22.0,8.00,Male,volleyball,indore,2016

In [48]:
x = df.iloc[:9,3:]
x

,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
0,Kumar,Sinha,23.0,8.29,Male,"Cricket , Football",Patna,2014
1,Prashant,Modale,25.0,7.80,Male,Cricket,Pune,2014
2,Sharad,Masalkar,NaN,8.31,Male,Badminton,Pune,2017
3,Gajanan,Pawar,NaN,8.00,Male,chess,buldana,2014
4,Suresh,Uttekar,21.0,8.40,Male,cricket,Pune,2016
5,Shirish,Lumpatki,20.0,8.71,Male,volleyball,Ahmednagar,2017
6,Kumar,Kumar,23.0,7.50,Male,Badminton,Ranchi,2015
7,Sambhaji,Markile,NaN,7.79,Male,Cricket,Latur,2016
8,subhash,patidar,22.0,8.00,Male,volleyball,indore,2016

In [49]:
df.iloc[2:9,2]

2      Pratik
3       Ranvir
4    Siddhesh
5       Sairaj
6       Rahul
7       Akash
8       harsh
Name: name, dtype: object

In [50]:
df.iloc[5,:]

टाइमस्टँप               30/05/2023 14:28:03
roll_num                            2201115
name                                 Sairaj
middlename                          Shirish
surname                            Lumpatki
age                                    20.0
sgpa                                   8.71
gender                                 Male
favorite_sport                   volleyball
native_city                      Ahmednagar
year_of_passing_10th                   2017
Name: 5, dtype: object

In [51]:
df.iloc[[2,45,12,38,24],3:7]

      middlename   surname   age  sgpa
2        Sharad   Masalkar   NaN  8.31
45      Rajendra     kumar  22.0  9.60
12        Kailas      Raut   NaN  7.00
38       Sudhir    Manohar  22.0  7.54
24  Gorakshanth   kandekar  22.0  8.89

In [52]:
df.loc[:,'name']

0       Shubham
1        Pranav
2       Pratik
3        Ranvir
4     Siddhesh
5        Sairaj
6        Rahul
7        Akash
8        harsh
9         Omkar
10      Prajwal
11       tejas
12      Vaibhav
13      Gaurav
14      sindura
15      Hitesh
16      Janhavi
17         Raj
18       Manish
19      muskan
20    Ashutosh
21        VIVEK
22    Sharvari
23       Leena
24      vedika
25     Atharva
26    himanshi
27     Harshita
28        Aditi
29      Akshata
30      Mahima
31    Aishwarya
32      Manali
33      Ankita
34         Yash
35     Apeksha
36     Saurabh
37      Kshitij
38     Sandesh
39        Suyog
40      Prerna
41       sakshi
42       Jyoti
43      NILESH
44       Pranav
45          Raj
46       Nikhil
47    ‎ Shubham
48    shraddha
49       Priya
50      Swapnil
Name: name, dtype: object

In [53]:
df.loc[:,['name','gender','sgpa']]

         name  gender   sgpa
0     Shubham    Male   8.29
1      Pranav    Male   7.80
2     Pratik     Male   8.31
3      Ranvir    Male   8.00
4   Siddhesh     Male   8.40
5      Sairaj    Male   8.71
6      Rahul     Male   7.50
7      Akash     Male   7.79
8      harsh     Male   8.00
9       Omkar    Male   9.81
10    Prajwal    Male   7.90
11     tejas     Male   7.85
12    Vaibhav    Male   7.00
13    Gaurav     Male   8.90
14    sindura  Female   8.10
15    Hitesh     Male   8.25
16    Janhavi  Female   8.75
17       Raj     Male   7.71
18     Manish    Male   8.46
19    muskan   Female   8.05
20  Ashutosh     Male   7.54
21      VIVEK    Male   7.60
22  Sharvari   Female   7.82
23     Leena   Female   7.89
24    vedika   Female   8.89
25   Atharva     Male   7.64
26  himanshi   Female   8.80
27   Harshita  Female   8.61
28      Aditi  Female   8.00
29    Akshata  Female  75.00
30    Mahima   Female   7.68
31  Aishwarya  Female   9.10
32    Manali   Female   7.90
33    Ankita   Female   7.00
34       Yash    Male   7.21
35   Apeksha   Female   8.00
36   Saurabh     Male   7.50
37    Kshitij    Male   7.60
38   Sandesh     Male   7.54
39      Suyog    Male   7.67
40    Prerna   Female   7.40
41     sakshi  Female  10.00
42     Jyoti   Female   8.14
43    NILESH     Male   7.56
44     Pranav    Male   7.96
45        Raj    Male   9.60
46     Nikhil    Male   7.00
47  ‎ Shubham    Male   9.15
48  shraddha   Female   7.89
49     Priya   Female   8.00
50    Swapnil    Male   7.28

In [54]:
df['name']

0       Shubham
1        Pranav
2       Pratik
3        Ranvir
4     Siddhesh
5        Sairaj
6        Rahul
7        Akash
8        harsh
9         Omkar
10      Prajwal
11       tejas
12      Vaibhav
13      Gaurav
14      sindura
15      Hitesh
16      Janhavi
17         Raj
18       Manish
19      muskan
20    Ashutosh
21        VIVEK
22    Sharvari
23       Leena
24      vedika
25     Atharva
26    himanshi
27     Harshita
28        Aditi
29      Akshata
30      Mahima
31    Aishwarya
32      Manali
33      Ankita
34         Yash
35     Apeksha
36     Saurabh
37      Kshitij
38     Sandesh
39        Suyog
40      Prerna
41       sakshi
42       Jyoti
43      NILESH
44       Pranav
45          Raj
46       Nikhil
47    ‎ Shubham
48    shraddha
49       Priya
50      Swapnil
Name: name, dtype: object

In [55]:
df[['name','gender','age']]

         name  gender   age
0     Shubham    Male  23.0
1      Pranav    Male  25.0
2     Pratik     Male   NaN
3      Ranvir    Male   NaN
4   Siddhesh     Male  21.0
5      Sairaj    Male  20.0
6      Rahul     Male  23.0
7      Akash     Male   NaN
8      harsh     Male  22.0
9       Omkar    Male  22.0
10    Prajwal    Male  21.0
11     tejas     Male   NaN
12    Vaibhav    Male   NaN
13    Gaurav     Male  22.0
14    sindura  Female  23.0
15    Hitesh     Male  22.0
16    Janhavi  Female   NaN
17       Raj     Male  23.0
18     Manish    Male  22.0
19    muskan   Female  21.0
20  Ashutosh     Male  23.0
21      VIVEK    Male  21.0
22  Sharvari   Female  22.0
23     Leena   Female  22.0
24    vedika   Female  22.0
25   Atharva     Male  23.0
26  himanshi   Female  22.0
27   Harshita  Female  21.0
28      Aditi  Female  21.0
29    Akshata  Female   NaN
30    Mahima   Female  22.0
31  Aishwarya  Female  22.0
32    Manali   Female  21.0
33    Ankita   Female   NaN
34       Yash    Male  21.0
35   Apeksha   Female  21.0
36   Saurabh     Male   NaN
37    Kshitij    Male   NaN
38   Sandesh     Male  22.0
39      Suyog    Male  22.0
40    Prerna   Female  21.0
41     sakshi  Female  22.0
42     Jyoti   Female   NaN
43    NILESH     Male  22.0
44     Pranav    Male  21.0
45        Raj    Male  22.0
46     Nikhil    Male   NaN
47  ‎ Shubham    Male  21.0
48  shraddha   Female  22.0
49     Priya   Female  22.0
50    Swapnil    Male  22.0

In [56]:
df.name

0       Shubham
1        Pranav
2       Pratik
3        Ranvir
4     Siddhesh
5        Sairaj
6        Rahul
7        Akash
8        harsh
9         Omkar
10      Prajwal
11       tejas
12      Vaibhav
13      Gaurav
14      sindura
15      Hitesh
16      Janhavi
17         Raj
18       Manish
19      muskan
20    Ashutosh
21        VIVEK
22    Sharvari
23       Leena
24      vedika
25     Atharva
26    himanshi
27     Harshita
28        Aditi
29      Akshata
30      Mahima
31    Aishwarya
32      Manali
33      Ankita
34         Yash
35     Apeksha
36     Saurabh
37      Kshitij
38     Sandesh
39        Suyog
40      Prerna
41       sakshi
42       Jyoti
43      NILESH
44       Pranav
45          Raj
46       Nikhil
47    ‎ Shubham
48    shraddha
49       Priya
50      Swapnil
Name: name, dtype: object

In [58]:
df.drop(4)

,टाइमस्टँप,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
0,30/05/2023 14:26:35,2201184,Shubham,Kumar,Sinha,23.0,8.29,Male,"Cricket , Football",Patna,2014
1,30/05/2023 14:26:56,2201129,Pranav,Prashant,Modale,25.0,7.80,Male,Cricket,Pune,2014
2,30/05/2023 14:27:27,2201125,Pratik,Sharad,Masalkar,NaN,8.31,Male,Badminton,Pune,2017
3,30/05/2023 14:27:43,2201154,Ranvir,Gajanan,Pawar,NaN,8.00,Male,chess,buldana,2014
5,30/05/2023 14:28:03,2201115,Sairaj,Shirish,Lumpatki,20.0,8.71,Male,volleyball,Ahmednagar,2017
6,30/05/2023 14:28:03,2201110,Rahul,Kumar,Kumar,23.0,7.50,Male,Badminton,Ranchi,2015
7,30/05/2023 14:28:06,2201124,Akash,Sambhaji,Markile,NaN,7.79,Male,Cricket,Latur,2016
8,30/05/2023 14:28:07,2201145,harsh,subhash,patidar,22.0,8.00,Male,volleyball,indore,2016
9,30/05/2023 14:28:08,2201105,Omkar,Milind,Kulkarni,22.0,9.81,Male,Sachin Tendulkar,Pune,2018
10,30/05/2023 14:28:10,2201171,Prajwal,Pramod,Shendge,21.0,7.90,Male,Cricket,Miraj,2018
11,30/05/2023 14:28:10,2201121,tejas,Uttareshwar,mane,NaN,7.85,Male,Cricket,Baramati,2016
12,30/05/2023 14:28:11,2201159,Vaibhav,Kailas,Raut,NaN,7.00,Male,Table tennis,Beed,2016
13,30/05/2023 14:28:13,2201173,Gaurav,Mohan,Shimpi,22.0,8.90,Male,cricket,Shahada,2017
14,30/05/2023 14:28:15,2201182,sindura,singh,rathore,23.0,8.10,Female,cricket,muzzafarpur,2017
15,30/05/2023 14:28:15,2201130,Hitesh,Dnyaneshwar,Mohadikar,22.0,8.25,Male,Cricket,Nagpur,2017
16,30/05/2023 14:28:16,2201163,Janhavi,Ajit,Sangaonkar,NaN,8.75,Female,Badminton,Kolhapur,2017
17,30/05/2023 14:28:20,2201195,Raj,,Verma,23.0,7.71,Male,Cricket,Jamshedpur,2017
18,30/05/2023 14:28:25,2201187,Manish,Maruti,Teke,22.0,8.46,Male,Cricket,Pune,2016
19,30/05/2023 14:28:26,1951022,muskan,shabbir,shipai,21.0,8.05,Female,cricket,pune,2017
20,30/05/2023 14:28:28,2201164,Ashutosh,Ghansham,Saoji,23.0,7.54,Male,Cricket,Akola,2017
21,30/05/2023 14:28:29,2201133,VIVEK,YESHAVNT,MORE,21.0,7.60,Male,Table Tennis,Kolhapur,2017
22,30/05/2023 14:28:32,2201175,Sharvari,Sunil,Shinde,22.0,7.82,Female,cricket,karad,2016
23,30/05/2023 14:28:38,2201190,Leena,Sanjay,Thorat,22.0,7.89,Female,Badminton,Shirdi,2017
24,30/05/2023 14:28:41,2201085,vedika,Gorakshanth,kandekar,22.0,8.89,Female,-,Ahmednagar,2017
25,30/05/2023 14:28:47,2201144,Atharva,Jayant,Paradkar,23.0,7.64,Male,Football,Pune,2016
26,30/05/2023 14:28:48,2201196,himanshi,,vyas,22.0,8.80,Female,cricket,indore,2017
27,30/05/2023 14:28:58,220126,Harshita,,Maurya,21.0,8.61,Female,Vollyball,Pune,2017
28,30/05/2023 14:28:59,2201146,Aditi,Pandurang,Patil,21.0,8.00,Female,Football,Ahmednagar,2017
29,30/05/2023 14:29:04,2201188,Akshata,vijay,thakre,NaN,75.00,Female,cricket,pune,2017
30,30/05/2023 14:29:03,2201141,Mahima,Lallan,Pal,22.0,7.68,Female,badminton,patna,2015
31,30/05/2023 14:29:06,2201113,Aishwarya,Prasad,Lokhande,22.0,9.10,Female,badminton,pune,2017
32,30/05/2023 14:29:12,2201155,Manali,Prayag,Petare,21.0,7.90,Female,Football,Sangli,2017
33,30/05/2023 14:29:16,2201116,Ankita,Tanaji,Madane,NaN,7.00,Female,Cricket,karad,2017
34,30/05/2023 14:29:17,2201152,Yash,Rajgonda,Patil,21.0,7.21,Male,Cricket,Kolhapur,2017
35,30/05/2023 14:29:26,2201139,Apeksha,D,Nimje,21.0,8.00,Female,Basketball,Nagpur,2017
36,30/05/2023 14:29:34,2201206,Saurabh,Sanjay,Zute,NaN,7.50,Male,Cricket,Parbhani,2016
37,30/05/2023 14:29:43,2201200,Kshitij,Kishor,Wani,NaN,7.60,Male,Cricket,Nagpur,2015
38,30/05/2023 14:29:46,2201123,Sandesh,Sudhir,Manohar,22.0,7.54,Male,Football,Mumbai,2016
39,30/05/2023 14:29:59,2201158,Suyog,Bapurao,Raut,22.0,7.67,Male,cricket,pune,2017
40,30/05/2023 14:30:07,2201104,Prerna,Nitin,Kukade,21.0,7.40,Female,Badminton,Pune,2017
41,30/05/2023 14:30:15,220143,sakshi,santosh,patidar,22.0,10.00,Female,cricket,durg,2015
42,30/05/2023 14:30:17,2201205,Jyoti,.,Yadav,NaN,8.14,Female,Cricket,Alwar,2012
43,30/05/2023 14:30:20,2201117,NILESH,PRAKASH,MAHAJAN,22.0,7.56,Male,BADMINTON,WADGAON,2017
44,30/05/2023 14:30:26,2201166,Pranav,Pravin,Sarkale,21.0,7.96,Male,Carrom,Pune,2017
45,30/05/2023 14:30:32,2201167,Raj,Rajendra,kumar,22.0,9.60,Male,cricket,pune,2016
46,30/05/2023 14:30:39,2201157,Nikhil,Ashok,Rande,NaN,7.00,Male,Kabaddi,Akot,2016
47,30/05/2023 14:31:04,2201118,‎ Shubham,‎ Sanjay,‎ Mali,21.0,9.15,Male,‎ Cricket,‎ Pune,2017
48,30/05/2023 14:31:14,2201194,shraddha,jaiprakash,varma,22.0,7.89,Female,badminton,wani,2017
49,30/05/2023 14:31:18,2201106,Priya,Pradip,Kulkarni,22.0,8.00,Female,Badminton,Pune,2017
50,30/05/2023 14:31:47,2201107,Swapnil,Suhas,Kulkarni,22.0,7.28,Male,Cricket,Pune,2016

In [59]:
df.drop([3,5,7,8,9])

,टाइमस्टँप,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
0,30/05/2023 14:26:35,2201184,Shubham,Kumar,Sinha,23.0,8.29,Male,"Cricket , Football",Patna,2014
1,30/05/2023 14:26:56,2201129,Pranav,Prashant,Modale,25.0,7.80,Male,Cricket,Pune,2014
2,30/05/2023 14:27:27,2201125,Pratik,Sharad,Masalkar,NaN,8.31,Male,Badminton,Pune,2017
4,30/05/2023 14:27:48,2201193,Siddhesh,Suresh,Uttekar,21.0,8.40,Male,cricket,Pune,2016
6,30/05/2023 14:28:03,2201110,Rahul,Kumar,Kumar,23.0,7.50,Male,Badminton,Ranchi,2015
10,30/05/2023 14:28:10,2201171,Prajwal,Pramod,Shendge,21.0,7.90,Male,Cricket,Miraj,2018
11,30/05/2023 14:28:10,2201121,tejas,Uttareshwar,mane,NaN,7.85,Male,Cricket,Baramati,2016
12,30/05/2023 14:28:11,2201159,Vaibhav,Kailas,Raut,NaN,7.00,Male,Table tennis,Beed,2016
13,30/05/2023 14:28:13,2201173,Gaurav,Mohan,Shimpi,22.0,8.90,Male,cricket,Shahada,2017
14,30/05/2023 14:28:15,2201182,sindura,singh,rathore,23.0,8.10,Female,cricket,muzzafarpur,2017
15,30/05/2023 14:28:15,2201130,Hitesh,Dnyaneshwar,Mohadikar,22.0,8.25,Male,Cricket,Nagpur,2017
16,30/05/2023 14:28:16,2201163,Janhavi,Ajit,Sangaonkar,NaN,8.75,Female,Badminton,Kolhapur,2017
17,30/05/2023 14:28:20,2201195,Raj,,Verma,23.0,7.71,Male,Cricket,Jamshedpur,2017
18,30/05/2023 14:28:25,2201187,Manish,Maruti,Teke,22.0,8.46,Male,Cricket,Pune,2016
19,30/05/2023 14:28:26,1951022,muskan,shabbir,shipai,21.0,8.05,Female,cricket,pune,2017
20,30/05/2023 14:28:28,2201164,Ashutosh,Ghansham,Saoji,23.0,7.54,Male,Cricket,Akola,2017
21,30/05/2023 14:28:29,2201133,VIVEK,YESHAVNT,MORE,21.0,7.60,Male,Table Tennis,Kolhapur,2017
22,30/05/2023 14:28:32,2201175,Sharvari,Sunil,Shinde,22.0,7.82,Female,cricket,karad,2016
23,30/05/2023 14:28:38,2201190,Leena,Sanjay,Thorat,22.0,7.89,Female,Badminton,Shirdi,2017
24,30/05/2023 14:28:41,2201085,vedika,Gorakshanth,kandekar,22.0,8.89,Female,-,Ahmednagar,2017
25,30/05/2023 14:28:47,2201144,Atharva,Jayant,Paradkar,23.0,7.64,Male,Football,Pune,2016
26,30/05/2023 14:28:48,2201196,himanshi,,vyas,22.0,8.80,Female,cricket,indore,2017
27,30/05/2023 14:28:58,220126,Harshita,,Maurya,21.0,8.61,Female,Vollyball,Pune,2017
28,30/05/2023 14:28:59,2201146,Aditi,Pandurang,Patil,21.0,8.00,Female,Football,Ahmednagar,2017
29,30/05/2023 14:29:04,2201188,Akshata,vijay,thakre,NaN,75.00,Female,cricket,pune,2017
30,30/05/2023 14:29:03,2201141,Mahima,Lallan,Pal,22.0,7.68,Female,badminton,patna,2015
31,30/05/2023 14:29:06,2201113,Aishwarya,Prasad,Lokhande,22.0,9.10,Female,badminton,pune,2017
32,30/05/2023 14:29:12,2201155,Manali,Prayag,Petare,21.0,7.90,Female,Football,Sangli,2017
33,30/05/2023 14:29:16,2201116,Ankita,Tanaji,Madane,NaN,7.00,Female,Cricket,karad,2017
34,30/05/2023 14:29:17,2201152,Yash,Rajgonda,Patil,21.0,7.21,Male,Cricket,Kolhapur,2017
35,30/05/2023 14:29:26,2201139,Apeksha,D,Nimje,21.0,8.00,Female,Basketball,Nagpur,2017
36,30/05/2023 14:29:34,2201206,Saurabh,Sanjay,Zute,NaN,7.50,Male,Cricket,Parbhani,2016
37,30/05/2023 14:29:43,2201200,Kshitij,Kishor,Wani,NaN,7.60,Male,Cricket,Nagpur,2015
38,30/05/2023 14:29:46,2201123,Sandesh,Sudhir,Manohar,22.0,7.54,Male,Football,Mumbai,2016
39,30/05/2023 14:29:59,2201158,Suyog,Bapurao,Raut,22.0,7.67,Male,cricket,pune,2017
40,30/05/2023 14:30:07,2201104,Prerna,Nitin,Kukade,21.0,7.40,Female,Badminton,Pune,2017
41,30/05/2023 14:30:15,220143,sakshi,santosh,patidar,22.0,10.00,Female,cricket,durg,2015
42,30/05/2023 14:30:17,2201205,Jyoti,.,Yadav,NaN,8.14,Female,Cricket,Alwar,2012
43,30/05/2023 14:30:20,2201117,NILESH,PRAKASH,MAHAJAN,22.0,7.56,Male,BADMINTON,WADGAON,2017
44,30/05/2023 14:30:26,2201166,Pranav,Pravin,Sarkale,21.0,7.96,Male,Carrom,Pune,2017
45,30/05/2023 14:30:32,2201167,Raj,Rajendra,kumar,22.0,9.60,Male,cricket,pune,2016
46,30/05/2023 14:30:39,2201157,Nikhil,Ashok,Rande,NaN,7.00,Male,Kabaddi,Akot,2016
47,30/05/2023 14:31:04,2201118,‎ Shubham,‎ Sanjay,‎ Mali,21.0,9.15,Male,‎ Cricket,‎ Pune,2017
48,30/05/2023 14:31:14,2201194,shraddha,jaiprakash,varma,22.0,7.89,Female,badminton,wani,2017
49,30/05/2023 14:31:18,2201106,Priya,Pradip,Kulkarni,22.0,8.00,Female,Badminton,Pune,2017
50,30/05/2023 14:31:47,2201107,Swapnil,Suhas,Kulkarni,22.0,7.28,Male,Cricket,Pune,2016

In [60]:
df.drop('टाइमस्टँप', axis = 1,inplace=True)

In [61]:
df

,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
0,2201184,Shubham,Kumar,Sinha,23.0,8.29,Male,"Cricket , Football",Patna,2014
1,2201129,Pranav,Prashant,Modale,25.0,7.80,Male,Cricket,Pune,2014
2,2201125,Pratik,Sharad,Masalkar,NaN,8.31,Male,Badminton,Pune,2017
3,2201154,Ranvir,Gajanan,Pawar,NaN,8.00,Male,chess,buldana,2014
4,2201193,Siddhesh,Suresh,Uttekar,21.0,8.40,Male,cricket,Pune,2016
5,2201115,Sairaj,Shirish,Lumpatki,20.0,8.71,Male,volleyball,Ahmednagar,2017
6,2201110,Rahul,Kumar,Kumar,23.0,7.50,Male,Badminton,Ranchi,2015
7,2201124,Akash,Sambhaji,Markile,NaN,7.79,Male,Cricket,Latur,2016
8,2201145,harsh,subhash,patidar,22.0,8.00,Male,volleyball,indore,2016
9,2201105,Omkar,Milind,Kulkarni,22.0,9.81,Male,Sachin Tendulkar,Pune,2018
10,2201171,Prajwal,Pramod,Shendge,21.0,7.90,Male,Cricket,Miraj,2018
11,2201121,tejas,Uttareshwar,mane,NaN,7.85,Male,Cricket,Baramati,2016
12,2201159,Vaibhav,Kailas,Raut,NaN,7.00,Male,Table tennis,Beed,2016
13,2201173,Gaurav,Mohan,Shimpi,22.0,8.90,Male,cricket,Shahada,2017
14,2201182,sindura,singh,rathore,23.0,8.10,Female,cricket,muzzafarpur,2017
15,2201130,Hitesh,Dnyaneshwar,Mohadikar,22.0,8.25,Male,Cricket,Nagpur,2017
16,2201163,Janhavi,Ajit,Sangaonkar,NaN,8.75,Female,Badminton,Kolhapur,2017
17,2201195,Raj,,Verma,23.0,7.71,Male,Cricket,Jamshedpur,2017
18,2201187,Manish,Maruti,Teke,22.0,8.46,Male,Cricket,Pune,2016
19,1951022,muskan,shabbir,shipai,21.0,8.05,Female,cricket,pune,2017
20,2201164,Ashutosh,Ghansham,Saoji,23.0,7.54,Male,Cricket,Akola,2017
21,2201133,VIVEK,YESHAVNT,MORE,21.0,7.60,Male,Table Tennis,Kolhapur,2017
22,2201175,Sharvari,Sunil,Shinde,22.0,7.82,Female,cricket,karad,2016
23,2201190,Leena,Sanjay,Thorat,22.0,7.89,Female,Badminton,Shirdi,2017
24,2201085,vedika,Gorakshanth,kandekar,22.0,8.89,Female,-,Ahmednagar,2017
25,2201144,Atharva,Jayant,Paradkar,23.0,7.64,Male,Football,Pune,2016
26,2201196,himanshi,,vyas,22.0,8.80,Female,cricket,indore,2017
27,220126,Harshita,,Maurya,21.0,8.61,Female,Vollyball,Pune,2017
28,2201146,Aditi,Pandurang,Patil,21.0,8.00,Female,Football,Ahmednagar,2017
29,2201188,Akshata,vijay,thakre,NaN,75.00,Female,cricket,pune,2017
30,2201141,Mahima,Lallan,Pal,22.0,7.68,Female,badminton,patna,2015
31,2201113,Aishwarya,Prasad,Lokhande,22.0,9.10,Female,badminton,pune,2017
32,2201155,Manali,Prayag,Petare,21.0,7.90,Female,Football,Sangli,2017
33,2201116,Ankita,Tanaji,Madane,NaN,7.00,Female,Cricket,karad,2017
34,2201152,Yash,Rajgonda,Patil,21.0,7.21,Male,Cricket,Kolhapur,2017
35,2201139,Apeksha,D,Nimje,21.0,8.00,Female,Basketball,Nagpur,2017
36,2201206,Saurabh,Sanjay,Zute,NaN,7.50,Male,Cricket,Parbhani,2016
37,2201200,Kshitij,Kishor,Wani,NaN,7.60,Male,Cricket,Nagpur,2015
38,2201123,Sandesh,Sudhir,Manohar,22.0,7.54,Male,Football,Mumbai,2016
39,2201158,Suyog,Bapurao,Raut,22.0,7.67,Male,cricket,pune,2017
40,2201104,Prerna,Nitin,Kukade,21.0,7.40,Female,Badminton,Pune,2017
41,220143,sakshi,santosh,patidar,22.0,10.00,Female,cricket,durg,2015
42,2201205,Jyoti,.,Yadav,NaN,8.14,Female,Cricket,Alwar,2012
43,2201117,NILESH,PRAKASH,MAHAJAN,22.0,7.56,Male,BADMINTON,WADGAON,2017
44,2201166,Pranav,Pravin,Sarkale,21.0,7.96,Male,Carrom,Pune,2017
45,2201167,Raj,Rajendra,kumar,22.0,9.60,Male,cricket,pune,2016
46,2201157,Nikhil,Ashok,Rande,NaN,7.00,Male,Kabaddi,Akot,2016
47,2201118,‎ Shubham,‎ Sanjay,‎ Mali,21.0,9.15,Male,‎ Cricket,‎ Pune,2017
48,2201194,shraddha,jaiprakash,varma,22.0,7.89,Female,badminton,wani,2017
49,2201106,Priya,Pradip,Kulkarni,22.0,8.00,Female,Badminton,Pune,2017
50,2201107,Swapnil,Suhas,Kulkarni,22.0,7.28,Male,Cricket,Pune,2016

In [62]:
df.describe()

           roll_num        age       sgpa  year_of_passing_10th
count  5.100000e+01  39.000000  51.000000             51.000000
mean   2.118559e+06  21.871795   9.383333           2016.352941
std    3.889351e+05   0.893823   9.396436              1.110379
min    2.201260e+05  20.000000   7.000000           2012.000000
25%    2.201118e+06  21.000000   7.620000           2016.000000
50%    2.201146e+06  22.000000   7.960000           2017.000000
75%    2.201174e+06  22.000000   8.430000           2017.000000
max    2.201206e+06  25.000000  75.000000           2018.000000

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   roll_num              51 non-null     int64
 1   name                  51 non-null     object
 2   middlename            51 non-null     object
 3   surname               51 non-null     object
 4   age                   39 non-null     float64
 5   sgpa                  51 non-null     float64
 6   gender                51 non-null     object
 7   favorite_sport        51 non-null     object
 8   native_city           51 non-null     object
 9   year_of_passing_10th  51 non-null     int64
dtypes: float64(2), int64(2), object(6)
memory usage: 2.9+ KB

In [64]:
df.count()

roll_num                51
name                    51
middlename              51
surname                 51
age                     39
sgpa                    51
gender                  51
favorite_sport          51
native_city             51
year_of_passing_10th    51
dtype: int64

In [65]:
df.min()

roll_num                    220126
name                      Saurabh
middlename
surname                     Madane
age                           20.0
sgpa                           7.0
gender                      Female
favorite_sport                   -
native_city             Ahmednagar
year_of_passing_10th          2012
dtype: object

In [66]:
df.max()

roll_num                  2201206
name                    ‎ Shubham
middlename               ‎ Sanjay
surname                    ‎ Mali
age                          25.0
sgpa                         75.0
gender                       Male
favorite_sport          ‎ Cricket
native_city                ‎ Pune
year_of_passing_10th         2018
dtype: object

In [67]:
df.sum()

roll_num                                                        108046521
name                    ShubhamPranavPratik RanvirSiddhesh SairajRahul...
middlename              Kumar PrashantSharad GajananSureshShirishKumar...
surname                 SinhaModaleMasalkarPawarUttekarLumpatkiKumarMa...
age                                                                 853.0
sgpa                                                               478.55
gender                  MaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMa...
favorite_sport          Cricket , FootballCricketBadmintonchesscricket...
native_city             PatnaPunePunebuldanaPuneAhmednagarRanchiLaturi...
year_of_passing_10th                                               102834
dtype: object

In [69]:
df.mean()

<ipython-input-69-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

roll_num                2.118559e+06
age                     2.187179e+01
sgpa                    9.383333e+00
year_of_passing_10th    2.016353e+03
dtype: float64

In [70]:
df.median()

<ipython-input-70-6d467abf240d>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

roll_num                2201146.00
age                          22.00
sgpa                          7.96
year_of_passing_10th       2017.00
dtype: float64

In [71]:
df.std()

<ipython-input-71-ce97bb7eaef8>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

roll_num                388935.108564
age                          0.893823
sgpa                         9.396436
year_of_passing_10th         1.110379
dtype: float64

In [72]:
df['sgpa'].mean()

9.383333333333333

In [74]:
df['sgpa'].max()

75.0

In [75]:
df['sgpa'].min()

7.0

In [76]:
df['sgpa'].sum()

478.54999999999995

### string function

In [77]:
df['name'].str.upper()

0       SHUBHAM
1        PRANAV
2       PRATIK
3        RANVIR
4     SIDDHESH
5        SAIRAJ
6        RAHUL
7        AKASH
8        HARSH
9         OMKAR
10      PRAJWAL
11       TEJAS
12      VAIBHAV
13      GAURAV
14      SINDURA
15      HITESH
16      JANHAVI
17         RAJ
18       MANISH
19      MUSKAN
20    ASHUTOSH
21        VIVEK
22    SHARVARI
23       LEENA
24      VEDIKA
25     ATHARVA
26    HIMANSHI
27     HARSHITA
28        ADITI
29      AKSHATA
30      MAHIMA
31    AISHWARYA
32      MANALI
33      ANKITA
34         YASH
35     APEKSHA
36     SAURABH
37      KSHITIJ
38     SANDESH
39        SUYOG
40      PRERNA
41       SAKSHI
42       JYOTI
43      NILESH
44       PRANAV
45          RAJ
46       NIKHIL
47    ‎ SHUBHAM
48    SHRADDHA
49       PRIYA
50      SWAPNIL
Name: name, dtype: object

In [78]:
df['name'].str.lower()

0       shubham
1        pranav
2       pratik
3        ranvir
4     siddhesh
5        sairaj
6        rahul
7        akash
8        harsh
9         omkar
10      prajwal
11       tejas
12      vaibhav
13      gaurav
14      sindura
15      hitesh
16      janhavi
17         raj
18       manish
19      muskan
20    ashutosh
21        vivek
22    sharvari
23       leena
24      vedika
25     atharva
26    himanshi
27     harshita
28        aditi
29      akshata
30      mahima
31    aishwarya
32      manali
33      ankita
34         yash
35     apeksha
36     saurabh
37      kshitij
38     sandesh
39        suyog
40      prerna
41       sakshi
42       jyoti
43      nilesh
44       pranav
45          raj
46       nikhil
47    ‎ shubham
48    shraddha
49       priya
50      swapnil
Name: name, dtype: object

In [79]:
df['name'].str.title()

0       Shubham
1        Pranav
2       Pratik
3        Ranvir
4     Siddhesh
5        Sairaj
6        Rahul
7        Akash
8        Harsh
9         Omkar
10      Prajwal
11       Tejas
12      Vaibhav
13      Gaurav
14      Sindura
15      Hitesh
16      Janhavi
17         Raj
18       Manish
19      Muskan
20    Ashutosh
21        Vivek
22    Sharvari
23       Leena
24      Vedika
25     Atharva
26    Himanshi
27     Harshita
28        Aditi
29      Akshata
30      Mahima
31    Aishwarya
32      Manali
33      Ankita
34         Yash
35     Apeksha
36     Saurabh
37      Kshitij
38     Sandesh
39        Suyog
40      Prerna
41       Sakshi
42       Jyoti
43      Nilesh
44       Pranav
45          Raj
46       Nikhil
47    ‎ Shubham
48    Shraddha
49       Priya
50      Swapnil
Name: name, dtype: object

In [80]:
df['name']

0       Shubham
1        Pranav
2       Pratik
3        Ranvir
4     Siddhesh
5        Sairaj
6        Rahul
7        Akash
8        harsh
9         Omkar
10      Prajwal
11       tejas
12      Vaibhav
13      Gaurav
14      sindura
15      Hitesh
16      Janhavi
17         Raj
18       Manish
19      muskan
20    Ashutosh
21        VIVEK
22    Sharvari
23       Leena
24      vedika
25     Atharva
26    himanshi
27     Harshita
28        Aditi
29      Akshata
30      Mahima
31    Aishwarya
32      Manali
33      Ankita
34         Yash
35     Apeksha
36     Saurabh
37      Kshitij
38     Sandesh
39        Suyog
40      Prerna
41       sakshi
42       Jyoti
43      NILESH
44       Pranav
45          Raj
46       Nikhil
47    ‎ Shubham
48    shraddha
49       Priya
50      Swapnil
Name: name, dtype: object

In [81]:
df['name'].str.strip()

0       Shubham
1        Pranav
2        Pratik
3        Ranvir
4      Siddhesh
5        Sairaj
6         Rahul
7         Akash
8         harsh
9         Omkar
10      Prajwal
11        tejas
12      Vaibhav
13       Gaurav
14      sindura
15       Hitesh
16      Janhavi
17          Raj
18       Manish
19       muskan
20     Ashutosh
21        VIVEK
22     Sharvari
23        Leena
24       vedika
25      Atharva
26     himanshi
27     Harshita
28        Aditi
29      Akshata
30       Mahima
31    Aishwarya
32       Manali
33       Ankita
34         Yash
35      Apeksha
36      Saurabh
37      Kshitij
38      Sandesh
39        Suyog
40       Prerna
41       sakshi
42        Jyoti
43       NILESH
44       Pranav
45          Raj
46       Nikhil
47    ‎ Shubham
48     shraddha
49        Priya
50      Swapnil
Name: name, dtype: object

In [82]:
df['name'] = df['name'].str.strip()
df['middlename'] = df['middlename'].str.strip()
df['surname'] = df['surname'].str.strip()
df['favorite_sport'] = df['favorite_sport'].str.strip()
df['native_city'] = df['native_city'].str.strip()

In [83]:
df['name'] = df['name'].str.title()
df['middlename'] = df['middlename'].str.title()
df['surname'] = df['surname'].str.title()
df['favorite_sport'] = df['favorite_sport'].str.title()
df['native_city'] = df['native_city'].str.title()

In [84]:
df

,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
0,2201184,Shubham,Kumar,Sinha,23.0,8.29,Male,"Cricket , Football",Patna,2014
1,2201129,Pranav,Prashant,Modale,25.0,7.80,Male,Cricket,Pune,2014
2,2201125,Pratik,Sharad,Masalkar,NaN,8.31,Male,Badminton,Pune,2017
3,2201154,Ranvir,Gajanan,Pawar,NaN,8.00,Male,Chess,Buldana,2014
4,2201193,Siddhesh,Suresh,Uttekar,21.0,8.40,Male,Cricket,Pune,2016
5,2201115,Sairaj,Shirish,Lumpatki,20.0,8.71,Male,Volleyball,Ahmednagar,2017
6,2201110,Rahul,Kumar,Kumar,23.0,7.50,Male,Badminton,Ranchi,2015
7,2201124,Akash,Sambhaji,Markile,NaN,7.79,Male,Cricket,Latur,2016
8,2201145,Harsh,Subhash,Patidar,22.0,8.00,Male,Volleyball,Indore,2016
9,2201105,Omkar,Milind,Kulkarni,22.0,9.81,Male,Sachin Tendulkar,Pune,2018
10,2201171,Prajwal,Pramod,Shendge,21.0,7.90,Male,Cricket,Miraj,2018
11,2201121,Tejas,Uttareshwar,Mane,NaN,7.85,Male,Cricket,Baramati,2016
12,2201159,Vaibhav,Kailas,Raut,NaN,7.00,Male,Table Tennis,Beed,2016
13,2201173,Gaurav,Mohan,Shimpi,22.0,8.90,Male,Cricket,Shahada,2017
14,2201182,Sindura,Singh,Rathore,23.0,8.10,Female,Cricket,Muzzafarpur,2017
15,2201130,Hitesh,Dnyaneshwar,Mohadikar,22.0,8.25,Male,Cricket,Nagpur,2017
16,2201163,Janhavi,Ajit,Sangaonkar,NaN,8.75,Female,Badminton,Kolhapur,2017
17,2201195,Raj,,Verma,23.0,7.71,Male,Cricket,Jamshedpur,2017
18,2201187,Manish,Maruti,Teke,22.0,8.46,Male,Cricket,Pune,2016
19,1951022,Muskan,Shabbir,Shipai,21.0,8.05,Female,Cricket,Pune,2017
20,2201164,Ashutosh,Ghansham,Saoji,23.0,7.54,Male,Cricket,Akola,2017
21,2201133,Vivek,Yeshavnt,More,21.0,7.60,Male,Table Tennis,Kolhapur,2017
22,2201175,Sharvari,Sunil,Shinde,22.0,7.82,Female,Cricket,Karad,2016
23,2201190,Leena,Sanjay,Thorat,22.0,7.89,Female,Badminton,Shirdi,2017
24,2201085,Vedika,Gorakshanth,Kandekar,22.0,8.89,Female,-,Ahmednagar,2017
25,2201144,Atharva,Jayant,Paradkar,23.0,7.64,Male,Football,Pune,2016
26,2201196,Himanshi,,Vyas,22.0,8.80,Female,Cricket,Indore,2017
27,220126,Harshita,,Maurya,21.0,8.61,Female,Vollyball,Pune,2017
28,2201146,Aditi,Pandurang,Patil,21.0,8.00,Female,Football,Ahmednagar,2017
29,2201188,Akshata,Vijay,Thakre,NaN,75.00,Female,Cricket,Pune,2017
30,2201141,Mahima,Lallan,Pal,22.0,7.68,Female,Badminton,Patna,2015
31,2201113,Aishwarya,Prasad,Lokhande,22.0,9.10,Female,Badminton,Pune,2017
32,2201155,Manali,Prayag,Petare,21.0,7.90,Female,Football,Sangli,2017
33,2201116,Ankita,Tanaji,Madane,NaN,7.00,Female,Cricket,Karad,2017
34,2201152,Yash,Rajgonda,Patil,21.0,7.21,Male,Cricket,Kolhapur,2017
35,2201139,Apeksha,D,Nimje,21.0,8.00,Female,Basketball,Nagpur,2017
36,2201206,Saurabh,Sanjay,Zute,NaN,7.50,Male,Cricket,Parbhani,2016
37,2201200,Kshitij,Kishor,Wani,NaN,7.60,Male,Cricket,Nagpur,2015
38,2201123,Sandesh,Sudhir,Manohar,22.0,7.54,Male,Football,Mumbai,2016
39,2201158,Suyog,Bapurao,Raut,22.0,7.67,Male,Cricket,Pune,2017
40,2201104,Prerna,Nitin,Kukade,21.0,7.40,Female,Badminton,Pune,2017
41,220143,Sakshi,Santosh,Patidar,22.0,10.00,Female,Cricket,Durg,2015
42,2201205,Jyoti,.,Yadav,NaN,8.14,Female,Cricket,Alwar,2012
43,2201117,Nilesh,Prakash,Mahajan,22.0,7.56,Male,Badminton,Wadgaon,2017
44,2201166,Pranav,Pravin,Sarkale,21.0,7.96,Male,Carrom,Pune,2017
45,2201167,Raj,Rajendra,Kumar,22.0,9.60,Male,Cricket,Pune,2016
46,2201157,Nikhil,Ashok,Rande,NaN,7.00,Male,Kabaddi,Akot,2016
47,2201118,‎ Shubham,‎ Sanjay,‎ Mali,21.0,9.15,Male,‎ Cricket,‎ Pune,2017
48,2201194,Shraddha,Jaiprakash,Varma,22.0,7.89,Female,Badminton,Wani,2017
49,2201106,Priya,Pradip,Kulkarni,22.0,8.00,Female,Badminton,Pune,2017
50,2201107,Swapnil,Suhas,Kulkarni,22.0,7.28,Male,Cricket,Pune,2016

In [85]:
df.isnull()

,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,True,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,True,False,False,False,False,False
12,False,False,False,False,True,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,True,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,True,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,True,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False,False
36,False,False,False,False,True,False,False,False,False,False
37,False,False,False,False,True,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False,False
42,False,False,False,False,True,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False,False
46,False,False,False,False,True,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,False,False
50,False,False,False,False,False,False,False,False,False,False

In [86]:
False + True

1

In [87]:
True + True

2

In [88]:
df.isnull().sum()

roll_num                 0
name                     0
middlename               0
surname                  0
age                     12
sgpa                     0
gender                   0
favorite_sport           0
native_city              0
year_of_passing_10th     0
dtype: int64

In [89]:
df['age'] = df['age'].fillna(df['age'].median())

In [90]:
df

,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
0,2201184,Shubham,Kumar,Sinha,23.0,8.29,Male,"Cricket , Football",Patna,2014
1,2201129,Pranav,Prashant,Modale,25.0,7.80,Male,Cricket,Pune,2014
2,2201125,Pratik,Sharad,Masalkar,22.0,8.31,Male,Badminton,Pune,2017
3,2201154,Ranvir,Gajanan,Pawar,22.0,8.00,Male,Chess,Buldana,2014
4,2201193,Siddhesh,Suresh,Uttekar,21.0,8.40,Male,Cricket,Pune,2016
5,2201115,Sairaj,Shirish,Lumpatki,20.0,8.71,Male,Volleyball,Ahmednagar,2017
6,2201110,Rahul,Kumar,Kumar,23.0,7.50,Male,Badminton,Ranchi,2015
7,2201124,Akash,Sambhaji,Markile,22.0,7.79,Male,Cricket,Latur,2016
8,2201145,Harsh,Subhash,Patidar,22.0,8.00,Male,Volleyball,Indore,2016
9,2201105,Omkar,Milind,Kulkarni,22.0,9.81,Male,Sachin Tendulkar,Pune,2018
10,2201171,Prajwal,Pramod,Shendge,21.0,7.90,Male,Cricket,Miraj,2018
11,2201121,Tejas,Uttareshwar,Mane,22.0,7.85,Male,Cricket,Baramati,2016
12,2201159,Vaibhav,Kailas,Raut,22.0,7.00,Male,Table Tennis,Beed,2016
13,2201173,Gaurav,Mohan,Shimpi,22.0,8.90,Male,Cricket,Shahada,2017
14,2201182,Sindura,Singh,Rathore,23.0,8.10,Female,Cricket,Muzzafarpur,2017
15,2201130,Hitesh,Dnyaneshwar,Mohadikar,22.0,8.25,Male,Cricket,Nagpur,2017
16,2201163,Janhavi,Ajit,Sangaonkar,22.0,8.75,Female,Badminton,Kolhapur,2017
17,2201195,Raj,,Verma,23.0,7.71,Male,Cricket,Jamshedpur,2017
18,2201187,Manish,Maruti,Teke,22.0,8.46,Male,Cricket,Pune,2016
19,1951022,Muskan,Shabbir,Shipai,21.0,8.05,Female,Cricket,Pune,2017
20,2201164,Ashutosh,Ghansham,Saoji,23.0,7.54,Male,Cricket,Akola,2017
21,2201133,Vivek,Yeshavnt,More,21.0,7.60,Male,Table Tennis,Kolhapur,2017
22,2201175,Sharvari,Sunil,Shinde,22.0,7.82,Female,Cricket,Karad,2016
23,2201190,Leena,Sanjay,Thorat,22.0,7.89,Female,Badminton,Shirdi,2017
24,2201085,Vedika,Gorakshanth,Kandekar,22.0,8.89,Female,-,Ahmednagar,2017
25,2201144,Atharva,Jayant,Paradkar,23.0,7.64,Male,Football,Pune,2016
26,2201196,Himanshi,,Vyas,22.0,8.80,Female,Cricket,Indore,2017
27,220126,Harshita,,Maurya,21.0,8.61,Female,Vollyball,Pune,2017
28,2201146,Aditi,Pandurang,Patil,21.0,8.00,Female,Football,Ahmednagar,2017
29,2201188,Akshata,Vijay,Thakre,22.0,75.00,Female,Cricket,Pune,2017
30,2201141,Mahima,Lallan,Pal,22.0,7.68,Female,Badminton,Patna,2015
31,2201113,Aishwarya,Prasad,Lokhande,22.0,9.10,Female,Badminton,Pune,2017
32,2201155,Manali,Prayag,Petare,21.0,7.90,Female,Football,Sangli,2017
33,2201116,Ankita,Tanaji,Madane,22.0,7.00,Female,Cricket,Karad,2017
34,2201152,Yash,Rajgonda,Patil,21.0,7.21,Male,Cricket,Kolhapur,2017
35,2201139,Apeksha,D,Nimje,21.0,8.00,Female,Basketball,Nagpur,2017
36,2201206,Saurabh,Sanjay,Zute,22.0,7.50,Male,Cricket,Parbhani,2016
37,2201200,Kshitij,Kishor,Wani,22.0,7.60,Male,Cricket,Nagpur,2015
38,2201123,Sandesh,Sudhir,Manohar,22.0,7.54,Male,Football,Mumbai,2016
39,2201158,Suyog,Bapurao,Raut,22.0,7.67,Male,Cricket,Pune,2017
40,2201104,Prerna,Nitin,Kukade,21.0,7.40,Female,Badminton,Pune,2017
41,220143,Sakshi,Santosh,Patidar,22.0,10.00,Female,Cricket,Durg,2015
42,2201205,Jyoti,.,Yadav,22.0,8.14,Female,Cricket,Alwar,2012
43,2201117,Nilesh,Prakash,Mahajan,22.0,7.56,Male,Badminton,Wadgaon,2017
44,2201166,Pranav,Pravin,Sarkale,21.0,7.96,Male,Carrom,Pune,2017
45,2201167,Raj,Rajendra,Kumar,22.0,9.60,Male,Cricket,Pune,2016
46,2201157,Nikhil,Ashok,Rande,22.0,7.00,Male,Kabaddi,Akot,2016
47,2201118,‎ Shubham,‎ Sanjay,‎ Mali,21.0,9.15,Male,‎ Cricket,‎ Pune,2017
48,2201194,Shraddha,Jaiprakash,Varma,22.0,7.89,Female,Badminton,Wani,2017
49,2201106,Priya,Pradip,Kulkarni,22.0,8.00,Female,Badminton,Pune,2017
50,2201107,Swapnil,Suhas,Kulkarni,22.0,7.28,Male,Cricket,Pune,2016

## boolean filtering

In [93]:
df[df['sgpa']>10]

,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
29,2201188,Akshata,Vijay,Thakre,22.0,75.0,Female,Cricket,Pune,2017

In [94]:
df.loc[29,'sgpa'] = 7.5

In [99]:
df['sgpa'].min(), df['sgpa'].max()

(7.0, 10.0)

In [101]:
df[df['sgpa']>9]

,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
9,2201105,Omkar,Milind,Kulkarni,22.0,9.81,Male,Sachin Tendulkar,Pune,2018
31,2201113,Aishwarya,Prasad,Lokhande,22.0,9.10,Female,Badminton,Pune,2017
41,220143,Sakshi,Santosh,Patidar,22.0,10.00,Female,Cricket,Durg,2015
45,2201167,Raj,Rajendra,Kumar,22.0,9.60,Male,Cricket,Pune,2016
47,2201118,‎ Shubham,‎ Sanjay,‎ Mali,21.0,9.15,Male,‎ Cricket,‎ Pune,2017

In [102]:
df['favorite_sport'].value_counts()

Cricket               24
Badminton             10
Football               4
Volleyball             2
Table Tennis           2
Cricket , Football     1
Chess                  1
Sachin Tendulkar       1
-                      1
Vollyball              1
Basketball             1
Carrom                 1
Kabaddi                1
‎ Cricket              1
Name: favorite_sport, dtype: int64

In [103]:
df['favorite_sport'].mode()

0    Cricket
Name: favorite_sport, dtype: object

In [104]:
df[(df['gender']=='Female')&(df['favorite_sport']=='Cricket')]

,roll_num,name,middlename,surname,age,sgpa,gender,favorite_sport,native_city,year_of_passing_10th
14,2201182,Sindura,Singh,Rathore,23.0,8.10,Female,Cricket,Muzzafarpur,2017
19,1951022,Muskan,Shabbir,Shipai,21.0,8.05,Female,Cricket,Pune,2017
22,2201175,Sharvari,Sunil,Shinde,22.0,7.82,Female,Cricket,Karad,2016
26,2201196,Himanshi,,Vyas,22.0,8.80,Female,Cricket,Indore,2017
29,2201188,Akshata,Vijay,Thakre,22.0,7.50,Female,Cricket,Pune,2017
33,2201116,Ankita,Tanaji,Madane,22.0,7.00,Female,Cricket,Karad,2017
41,220143,Sakshi,Santosh,Patidar,22.0,10.00,Female,Cricket,Durg,2015
42,2201205,Jyoti,.,Yadav,22.0,8.14,Female,Cricket,Alwar,2012

In [105]:
df[df['year_of_passing_10th']==2015]['name'].count()

4

In [106]:
x=df[(df['gender']=='Female')&(df['favorite_sport']=='Cricket')]

In [107]:
x.to_csv('output.csv',index=False)